.user-session-list {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}
  
  .user-session-list-hide {
    opacity: 0;
    transform: translateX(-100%);
    top: 0;
    bottom: 0;
    position: absolute;
    visibility: hidden;
  }